
/*
 * Created on $today.date ( Time $today.time )
 * Generator tool : $generator.name ( version $generator.version )
 * Copyright 2018 Smile Backend generator. All Rights Reserved.
 */

package ${target.javaPackageFromFolder(${SRC})};

import java.util.Locale;

import javax.xml.bind.annotation.XmlRootElement;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.MessageSource;
import org.springframework.stereotype.Component;
import lombok.*;

/**
 * Technical Error
 * 
 * @author Smile Backend generator
 *
 */
@Data
@ToString
@NoArgsConstructor
@XmlRootElement
@Component
public class TechnicalError {

	private String			code;
	private String			message;
	@Autowired
	private MessageSource	messageSource;
	
	//private static Status	status	= new Status();

	public Status DB_NOT_CONNECT(String message, Locale locale) {
		Status	status	= new Status();
		status.setCode(StatusCode.TECH_DB_NOT_CONNECT);
		status.setMessage(messageSource.getMessage("StatusMessage.TECH_DB_NOT_CONNECT", new Object[] {}, locale) + ": " + message);
		return status;
	}

	public Status DB_FAIL(String message, Locale locale) {
		Status	status	= new Status();
		status.setCode(StatusCode.TECH_DB_FAIL);
		status.setMessage(messageSource.getMessage("StatusMessage.TECH_DB_FAIL", new Object[] {}, locale) + ": " + message);
		return status;
	}

	public Status INTERN_ERROR(String message, Locale locale) {
		Status	status	= new Status();
		status.setCode(StatusCode.TECH_INTERN_ERROR);
		String msg = messageSource.getMessage("StatusMessage.TECH_INTERN_ERROR", new Object[] {}, locale);
		status.setMessage(msg + ": " + message);
		return status;
	}

	public Status DB_PERMISSION_DENIED(String message, Locale locale) {
		Status	status	= new Status();
		status.setCode(StatusCode.TECH_DB_PERMISSION_DENIED);
		status.setMessage(messageSource.getMessage("StatusMessage.TECH_DB_PERMISSION_DENIED", new Object[] {}, locale) + ": " + message);
		return status;
	}

	public Status DB_QUERY_REFUSED(String message, Locale locale) {
		Status	status	= new Status();
		status.setCode(StatusCode.TECH_DB_QUERY_REFUSED);
		status.setMessage(messageSource.getMessage("StatusMessage.TECH_DB_QUERY_REFUSED", new Object[] {}, locale) + ": " + message);
		return status;
	}
	
    public Status ELASTIC_SEARCH_UNREACHABLE_ERROR (String message, Locale locale){
    	Status	status	= new Status();
        status.setCode(StatusCode.TECH_ELASTIC_SEARCH_UNREACHABLE_ERROR);
		status.setMessage(messageSource.getMessage("StatusMessage.TECH_ELASTIC_SEARCH_UNREACHABLE_ERROR", new Object[] {}, locale) + (Utilities.isBlank(message) ? "" : (": " + message)));
        return status ;
    }
    
    public Status CONNEXION_TO_SFTP_ERROR (String message, Locale locale){
    	Status	status	= new Status();
        status.setCode(StatusCode.TECH_CONNEXION_TO_SFTP_ERROR);
		status.setMessage(messageSource.getMessage("StatusMessage.TECH_CONNEXION_TO_SFTP_ERROR", new Object[] {}, locale) + (Utilities.isBlank(message) ? "" : (": " + message)));
        return status ;
    }

	public Status ERROR(String message, Locale locale) {
		Status	status	= new Status();
		String[] msgTab = message.split(";");
		if (msgTab != null && msgTab.length > 1) {
			status.setCode(msgTab[0]);
			String errorMessage = msgTab[1];
			if(msgTab.length > 2) {
				for (int i=2; i<msgTab.length; i++) {
					errorMessage += ";"+msgTab[i];
				}
			}
			status.setMessage(errorMessage);
		} else {
			status.setCode(StatusCode.FUNC_FAIL);
			status.setMessage(message);
		}
		return status;
	}
}
