
/*
 * Created on $today.date ( Time $today.time )
 * Generator tool : $generator.name ( version $generator.version )
 * Copyright 2018 Smile Bakend generator. All Rights Reserved.
 */

package ${target.javaPackageFromFolder(${SRC})};

import java.util.List;

import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.ToString;

/**
 * Search Param
 * 
 * @author Smile Bakend generator
 *
 */
@Data
@ToString
@NoArgsConstructor
public class SearchParam<T> {

	String	operator;
	T		start;
	T		end;
	List<T> datas;




	//public SearchParam() {}
	
	public SearchParam(String operator, T start, T end, List<T> datas) {
		super();
		this.operator = operator;
		this.start = start;
		this.end = end;
		this.datas = datas;
	}
	
	public SearchParam(String operator) {
		this(operator, null, null, null);
	}
	
	public SearchParam(String operator, T start, T end) {
		this(operator, start, end, null);
	}
	
	public SearchParam(String operator, List<T> datas) {
		this(operator, null, null, datas);
	}


}
